<% provide(:title, 'All users') %>
<h2>All users</h2>
<%= will_paginate %>
<% @users.each do |u|%>
<ul class="users">
<li><%= u.email %> | <%= link_to 'delete this user', user_path(u.id), method: :delete %></li>
</ul>
<% end %>
