<% provide(:title, "History") %>
<div class="container bg-home">
  <div class="jumbotron">
    <h2 class="text-center">Bicycles history</h2><br>
    <p>
      There are several early, but unverified claims for the invention of the bicycle.
      A sketch from around 1500 AD is attributed to Gian Giacomo Caprotti, a pupil of
      Leonardo da Vinci, but it was described by Hans-Erhard Lessing in 1998 as a purposeful
      fraud, a description now generally accepted. However, the authenticity of the
       bicycle sketch is still vigorously maintained by followers of Prof. Augusto Marinoni,
       a lexicographer and philologist, who was entrusted by the Commissione Vinciana of Rome
        with the transcription of Leonardo's Codex Atlanticus.
      Later, and equally unverified, is the contention that a certain "Comte de Sivrac" developed
      a célérifère in 1792, demonstrating it at the Palais-Royal in France. The célérifère supposedly
      had two wheels set on a rigid wooden frame and no steering, directional control being limited
      to that attainable by leaning.[6] A rider was said to have sat astride the machine and pushed
      it along using alternate feet. It is now thought that the two-wheeled célérifère never existed
      (though there were four-wheelers) and it was instead a misinterpretation by the well-known
      French journalist Louis Baudry de Saunier in 1891.
    </p><br>

      <div class="fl-left">
    <%= image_tag "bic7.jpeg"%>
      </div>
        <p>
          The first verifiable claim for a practically used bicycle belongs to German Baron Karl von Drais,
          a civil servant to the Grand Duke of Baden in Germany. Drais invented his Laufmaschine (German for
          "running machine") in 1817, that was called Draisine (English) or draisienne (French) by the press.
          Karl von Drais patented this design in 1818, which was the first commercially successful
          two-wheeled, steerable, human-propelled machine, commonly called a velocipede, and nicknamed
          hobby-horse or dandy horse.[9] It was initially manufactured in Germany and France.
          Hans-Erhard Lessing (Drais's biographer) found from circumstantial evidence that Drais's interest in
          finding an alternative to the horse was the starvation and death of horses caused by crop failure in
          1816, the Year Without a Summer (following the volcanic eruption of Tambora in 1815).[10]
          On his first reported ride from Mannheim on June 12, 1817, he covered 13 km (eight miles) in less than an
          hour.[11] Constructed almost entirely of wood, the draisine weighed 22 kg (48 pounds), had brass bushings
          within the wheel bearings, iron shod wheels, a rear-wheel brake and 152 mm (6 inches) of trail of the
          front-wheel for a self-centering caster effect. This design was welcomed by mechanically minded men daring
          to balance, and several thousand copies were built and used, primarily in Western Europe and in North America.
          Its popularity rapidly faded when, partly due to increasing numbers of accidents, some city authorities
          began to prohibit its use. However, in 1866 Paris a Chinese visitor named Bin Chun could still observe
          foot-pushed velocipedes.[12] The Draisine is regarded as the first bicycle[13][14][15][16] and Karl von
          Drais is seen as the "father of the bicycle".
        </p>

        <p>
          However, the Franco-Prussian war of 1870 destroyed the velocipede market in France, and the "bone-shaker"
          enjoyed only a brief period of popularity in the United States, which ended by 1870. There is debate among
          bicycle historians about why it failed in the United States, but one explanation is that American road
          surfaces were much worse than European ones, and riding the machine on these roads was simply too difficult.
          Certainly another factor was that Calvin Witty had purchased Lallement's patent, and his royalty demands
          soon crippled the industry. The UK was the only place where the bicycle never fell completely out of favour.
        </p>
  </div>
</div>
