.bg-head {
  background: #6c8efe;
}

.bg-home {
  background: #faf7bc;
}

.fl-left {
  float: left;
  margin-right: 5px;
}

.green-notice {
  color: green;
  font-weight: bold;
  width: 300px;
}

.my-button{
  width: 428px;
}

.marg-left{
  margin-left: 250px;
}

.marg-right{
  margin-right: 50px;
}

.red-alert{
  color: red;
  font-weight: bold;
  width: 200px;
}
