.my-button{
  width: 428px;
}

.marg-left{
  margin-left: 50px;
}

.marg-right{
  margin-right: 50px;
}

.green-notice {
  color: green;
  font-weight: bold;
  width: 200px;
}

.red-alert{
  color: red;
  font-weight: bold;
  width: 200px;
}
