.bg-head {
  background: #6c8efe;
}

.bg-home {
  background: #faf7bc;
}

.card-bg {
  background: #fffdd7;
}

.fl-left {
  float: left;
  margin-right: 5px;
}

.fl-right {
  float: right;
  margin-left: 2px;
}

.green-notice {
  color: green;
  font-weight: bold;
  width: 300px;
}

.like-blue {
  background: blue;
}

.like-grey {
  background: grey;
}

.my-search {
  margin-left: 100px;
}

.my-button{
  width: 428px;
}

.marg-left{
  margin-left: 250px;
}

.marg-right{
  margin-right: 50px;
}

.red-alert{
  color: red;
  font-weight: bold;
  width: 200px;
}

.stngs {
  background: black;
  margin-top: 30px;
  height: 50px;
  padding: 5px;
  width: 300px;
  margin-left: 770px
}

.search-btn {
  width: 250px;
}
